.pvt .pvt-toolbar {
  display: flex;
  align-items: center;
}

.pvt .pvt-toolbar:hover .pvt-toolbarActionsMenuButtons {
  visibility: visible;
}

.pvt .pvt-toolbarTitle {
  flex-grow: 1;
}

.pvt .pvt-toolbarActionsMenuButtons {
  visibility: hidden;
}

.pvt .pvt-toolbarActionsBtn {
  margin-left: 1rem;
}

.pvt .pvt-row-GroupedAndCollapsed {
  border-top: 1px solid rgba(24, 20, 31, 0.1);
}
